body{
    background-color: #DDEEDD;
    font-family: Tahoma;
    text-align: center;
}

ul{
    list-style-type: square;
    text-align: left;
}

header,footer{
    color: white;
    size:120%;
    padding:10px;
}

header{
    background-color:  #409FFF;
}

footer{
    background-color:#A0A0A0 ;
}

nav{
    background-color: #FFFFFF; 
    word-spacing: 30px;
    padding: 10px;
}

#lewy{
    background-color: #E4C0A8;
    width: 30%;
    height: 650px;
    float: left;
}

#prawy{
    width: 70%;
    height: 650px;
    overflow: auto;
}

a{
    color: #009900;
}

table{
    border:1px solid black;
}

table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 90%;
}